#title {
  margin-top: 2%;
  margin-bottom: 4%;
}
#serviceItem {
  margin-bottom: 0%;
}
.service-title {
  font-size: 1.6rem;
}
.service-description {
  font-size: 1rem;
  color: rgb(53, 52, 52) !important;
}
