.formNetlify {
  background-color: #212529;
  background-image: url("../img/map-image.webp");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
#formFy {
  padding: 10%;
  margin-left: 20%;
  margin-right: auto;
  width: 60%;
  display: grid;
  grid-template-areas: "name" "email" "";
}
#formFy #name {
  grid-area: name;
  width: 100%;
  height: 6vh;
  color: black;
  font-weight: 600;
  font-size: 18px;
  padding: 2%;
  border: 3px solid #ffc107;
}
#formFy #email {
  grid-area: email;
  width: 100%;
  height: 6vh;
  color: rgb(48, 45, 45);
  font-weight: 600;
  font-size: 18px;
  padding: 1%;
  border: 3px solid #ffc107;
}
#formFy #message {
  grid-area: msg;
  width: 100%;
  height: 15vh;
  color: rgb(48, 45, 45);
  font-weight: 600;
  font-size: 18px;
  padding: 1%;
  border: 3px solid #ffc107;
}
#formFy #submitButton {
  grid-area: btn;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background-color: #ffc107;
  padding: 1%;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 18px;
  margin-right: auto !important;
  margin-left: auto !important;
  float: center;
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#formFy label {
  color: white;
  font-size: 18px;
}
#formFy #message,
#formFy #submitButton,
#formFy #email,
#formFy #name:focus {
  outline: none;
}
#formFy h1 {
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 568px) {
  .formNetlify {
    background-color: #212529;
    background-image: url("../img/map-image.webp");
    background-repeat: no-repeat;
    background-position: center;
    height: fit-content;
  }
  #formFy {
    padding-top: 20%;
    margin-left: 2.5%;
    margin-right: auto;
    width: 95%;
    display: grid;
    grid-template-areas: "name" "email" "";
  }
  #formFy #name {
    grid-area: name;
    width: 100%;
    height: 6vh;
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding: 2%;
    border: 3px solid #ffc107;
  }
  #formFy #email {
    grid-area: email;
    width: 100%;
    height: 6vh;
    color: rgb(48, 45, 45);
    font-weight: 600;
    font-size: 18px;
    padding: 1%;
    border: 3px solid #ffc107;
  }
  #formFy #message {
    grid-area: msg;
    width: 100%;
    height: 15vh;
    color: rgb(48, 45, 45);
    font-weight: 600;
    font-size: 18px;
    padding: 1%;
    border: 3px solid #ffc107;
  }
  #formFy #submitButton {
    grid-area: btn;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: #ffc107;
    padding: 1%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 18px;
    margin-right: auto !important;
    margin-left: auto !important;
    float: center;
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #formFy label {
    color: white;
    font-size: 18px;
  }
  #formFy #message,
  #formFy #submitButton,
  #formFy #email,
  #formFy #name:focus {
    outline: none;
  }
}
